header {
	background-color: white;
	height: 300px;
}

.section1 {
	background-color: #C9C9CE;
	height: 612px;
}

.section2 {
	background-color: white;
	height: 280px;
}

/* MARKETING CONTENT
------------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

footer {
	font-family: "Helvetica Neue";
	font-weight: lighter;
	text-align: center;
	color: white;
	background-color: black;
	height: 60px;
}